mixin product(description, img, data1, data2, data3, data4, data5)
    li.catalog__row-product
        .catalog__row-product-preview
            img(src='img/products/' + img alt=description)
        a.catalog__row-product-link(href="#") #{description}
        table.catalog__row-product-discription
            tr
                td Артикул
                td #{data1}
            tr
                td Опция
                td #{data2}
            tr
                td Цвет
                td #{data3}
            tr
                td Размер
                td #{data4}
            tr
                td Вес
                td #{data5}
            
                